/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#usernav {
padding 10px;
left: 90%;
padding-top: 10px;
font-size: 16px;
}

body {
background-image: image-url('/assets/wood.jpg');
color: #000000;
text-align: center;
}

h1 {
text-align:center;
text-decoration:underline;
color:white;
}

#usernav {
background-color: white;
float: right
}

table {
background-color: white;
margin-left: auto;
margin-right: auto;
}

table, td, th {
border: 2px solid black;
color: black;
padding: 5px;
}

th {
color: black;
font-size: 25px;
}

